:root{
    --font-size-pequeña:1.4rem ;
    --font-size-foter:1.7rem ;
    --font-size-media:1.5rem ;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 62.5%;
}

a{
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}
body{
    min-width: 36rem;
}
header{
    height:7vh;
    width: 100%;
}
nav{
    height: 100%;
    display: flex;
    justify-content: flex-end;
   
}
.nave-itens .menu{
    background-image: url(./img/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2rem;
    height: 2rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
    
    
.nave-itens{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nave-itens a{
    font-size: var(--font-size-pequeña);
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
}
.nave-itens img{
    margin-right: 1rem;
    border-radius: 50%;
}
/* .nave-itens a::hover{
    color: red;
} */
.nave-usuario{
    height: 60%;
    width: 30%;
    display: flex;
    /* justify-content: space-evenly; */
    /* background-color: aliceblue; */
}

.figure-usuario{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.nave-usuario a{
    height: 100%;
    display: flex;
    align-items: center;
}   

main{
    text-align: center;
    height: 80vh;
    width: 100%;

}
main input{
    width: 53rem;
    margin: 0 auto;
}
/* .contenido{
    width: 500px;
    margin: 0 auto;
    margin-bottom: 35px;
    background-color: #303134;
} */
.main-busqueda{
    margin: 0 auto;
    height: 5rem;
    width: 54rem;
    border-radius: 100px;
    border: .1rem solid rgb(97, 96, 96);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-busqueda input{
    width: 3rem;
    height: 4rem;
    border: none;
    outline: none;
    margin: 0 auto;
}
.main-busqueda:hover{
        box-shadow:0 .1rem .6rem 0 #202124;
        border-color: #dfe1e500;
}
.main-busqueda .search-icon{
    background-image: url(./img/lupa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
   }

.main-busqueda input{
    margin: 0 auto;
    width: 100%;
    border-radius: 1.5rem;
    border: none;
}

.busquedaimg{

width: 20%;
height: 2.5rem;
display: flex;
justify-content: space-evenly;
}
.busquedaimg img{
    height: 100%;
}
.boton{
    padding-top: 3rem;
    margin: 0 auto;
    display: inline-block;
}

.boton button{
    height: 3.6rem;
    background-color: #f2f2f2;
    border-radius: .5rem;
    font-size: var(--font-size-media);
    border: none;
    color: #5f6368;
    margin-right: 1.5rem;
    padding:  0 1.5rem #f2f2f2;
    width: 19rem;
}
.boton button:hover{
    border: .1rem solid #c6c6c6;
    box-shadow: 0rem .1rem .1rem;
    color: #171717;
}

.link{
    margin-top: 2rem;
    height: 5%;
    font-size: var(--font-size-pequeña);
    display: flex;
    justify-content: center;
    align-items: center;
}
.link a{
    text-decoration: none;
    color: #1a0dab;
}
footer{
    height: 15vh;
    width: 100%;
    font-size: var(--font-size-pequeña);
    background-color: #c9c9c93b;
    position: absolute;
    bottom: 0;
    
    
}
.peru{
    padding-top: 1.2rem;
    height: 55%;
    margin-left: 3rem;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40%;
    margin-left: 3rem;
    margin-right:  3rem;
    /* background-color: #32c0eb; */
}
.info1{
    /* background-color: blue; */
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.info2{
    display: flex;
    justify-content:space-between;
    width: 25%;
    /* background-color: #32c0eb; */
}
.info a{
    text-decoration: none;
    color:#70757a ;
}  
